.container {
  display: flex;
}

.grid-user,
.grid-computer {
  width: 40rem;
  height: 40rem;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}

.grid-user {
  background-color: blue;
}

.grid-computer {
  background-color: lightgreen;
}

.grid div {
  width: 4rem;
  height: 4rem;
}

.grid-display {
  width: 40rem;
  height: 40rem;
  margin: 2rem;
  background-color: yellow;
}

.ship div {
  width: 4rem;
  height: 4rem;
}

.destroyer-container,
.submarine-container,
.cruiser-container,
.battleship-container,
.carrier-container {
  height: 4rem;
  margin: 1rem;
  display: flex;
}

.destroyer-container {
  width: 8rem;
  background-color: orange;
}

.submarine-container {
  width: 12rem;
  background-color: pink;
}

.cruiser-container {
  width: 12rem;
  background-color: purple;
}

.battleship-container {
  width: 16rem;
  background-color: aqua;
}

.carrier-container {
  width: 20rem;
  background-color: green;
}
